# =========================================================
# HOMESTAY BOOKING API - ENVIRONMENT CONFIGURATION
# =========================================================
# Copy this file to:
# .env
#
# Then replace all placeholder values with your real config.
# Do NOT commit the real .env file to GitHub.
# =========================================================


# =========================================================
# DJANGO CORE
# =========================================================

DEBUG=True

# Generate using:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=django-insecure-your-secret-key

ALLOWED_HOSTS=127.0.0.1,localhost


# =========================================================
# DATABASE (PostgreSQL)
# =========================================================

DB_NAME=homestay_booking_api
DB_USER=postgres
DB_PASSWORD=your_postgresql_password
DB_HOST=localhost
DB_PORT=5432


# =========================================================
# JWT CONFIGURATION (SimpleJWT)
# =========================================================

# Access token lifetime (minutes)
ACCESS_TOKEN_LIFETIME=60

# Refresh token lifetime (days)
REFRESH_TOKEN_LIFETIME=1

AUTH_HEADER_TYPES=Bearer


# =========================================================
# MEDIA / STATIC
# =========================================================

MEDIA_ROOT=media/
MEDIA_URL=/media/


# =========================================================
# CLOUDINARY STORAGE (OPTIONAL)
# =========================================================
# Get from:
# https://cloudinary.com/console

CLOUD_NAME=your_cloudinary_name
API_KEY=123456789012345
API_SECRET=your_cloudinary_api_secret


# =========================================================
# VNPAY SANDBOX
# =========================================================
# Register sandbox account:
# https://sandbox.vnpayment.vn/
# test
# https://sandbox.vnpayment.vn/apis/vnpay-demo/

VNPAY_TMN_CODE=ABC12345

# Example format:
# 8B4D6A1C9E2F3G4H5I6J7K8L9M0N
VNPAY_HASH_SECRET_KEY=your_vnpay_hash_secret

VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

VNPAY_RETURN_URL=http://127.0.0.1:8000/api/payments/vnpay-return/


# =========================================================
# EMAIL CONFIGURATION (OPTIONAL)
# =========================================================
#Google Account → App Passwords
# For Gmail:
# - Enable 2FA
# - Generate App Password

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=example@gmail.com

# Example Gmail App Password:
# abcd efgh ijkl mnop
EMAIL_HOST_PASSWORD=your_email_app_password

DEFAULT_FROM_EMAIL=Homestay Booking <noreply@example.com>