django
psycopg2-binary
python-dotenv	
Pillow
requests
djangorestframework
djangorestframework-simplejwt
django-extensions

django-cors-headers

drf-spectacular
cloudinary django-cloudinary-storage
django-filter
pytz